@keyframes go-left {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  41% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: var(--z-1);
  }
}

@keyframes loadNow {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  20% {
    opacity: 1;
    transform: translateX(0px);
  }
  80% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-80px);
  }
}

@keyframes expandNow {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes fill-anim {
  from {
    fill: transparent;
  }
  to {
    fill: var(--title-color);
  }
}

@keyframes line-anim {
  from {
    stroke: var(--title-color);
  }
  to {
    stroke-dashoffset: 0;
    stroke: var(--title-color);
  }
}

@keyframes widthExpand {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 35px;
  }
}

@keyframes fadeInWidth {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes fadeInRight {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes icon-transition {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes show-hide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
